<script src="https://kit.fontawesome.com/dafc2bfea6.js" crossorigin="anonymous"></script><div class="social">
<h1>ここはuserのindexページです。</h1>
<div class="container">  
 <div class="row">  
 
  <div class="col-md-3" style="background-color: orange;">
   <h2>サイドバー</h2>
   <h1><i class="fas fa-user-cog"></i></h1>
   <li>New book</li>
   <h1>新規投稿</h1>
    <%= image_tag @user.get_profile_image(100,100) %>
   <h2>名前</h2>
    <%= @user.name %>
   <h2>自己紹介文</h2>
    <%= @user.introduction %>
    <%= link_to "ユーザー編集", edit_user_path(@user.id) %>

    <%= form_with model: Book.new do |f| %>
     <h4>本のタイトル</h4>
    <%= f.text_field :title %>
     <h4>感想</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
    <% end %>
   </div>

  <div class="col-md-8 offset-md-1"> 
  <h1>ユーザー一覧</h1>
   <% @users.each do |user| %>
   <table class="table table-striped">
    <%= image_tag user.get_profile_images, size:"100x100" %>
    <%= user.name %>
    <%= link_to 'Show',user_path(user.id) %>
 <% end %>
   </table>
  </div>
 </div>  
</div>