<script src="https://kit.fontawesome.com/dafc2bfea6.js" crossorigin="anonymous"></script><div class="social">
<h1>ここはshowページです。</h1>
<%= flash[:notice]  %>
<h1>詳細画面</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul> <% @book.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
  </ul>
<% end %>

<div class="container">
 <div class="row">
  <%= render 'book', book:@book, user:@user %>
  
  <div class="col-md-8 offset-md-1">
<li>Book detail</li>
<td>
<%= link_to user_path(@user) do %>
 <%= image_tag @user.get_profile_image(100,100) %>
 <%= @user.name %>
<% end %>
</td>
<h2>タイトル</h2>
<p><%= @book.title %></p>
<h2>本文</h2>
<p><%= @book.body %></p>
<%= link_to "Back", books_path %>
<%if @book.user==current_user %>
<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Destroy", book_path(@book.id), method: :delete,
"data-confirm" => "本当に削除しますか？" %>
<% end %>
  </div>
 </div>
</div>
